@model IEnumerable<SocialLacasa.Models.Services>
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @{
        Html.RenderPartial("_UserTopMenu");
    }
</div>
<div>
    @{
        Html.RenderPartial("_sidenav");
    }
</div>
<div class="content-wrapper">
    <div class="not-authenticate">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-float tableBox">
                        <h1 class="h1_font"><strong>Services</strong></h1>
                        <div class="underline">
                            <div class="line"></div>
                        </div>
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="width-service-name">Service</th>
                                    <th class="nowrap">Rate per 1000</th>
                                    <th class="nowrap">Min order</th>
                                    <th class="nowrap">Max order</th>
                                    <th class="hidden-xs hidden-sm width-40">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ string category = "";}
                                @foreach (var d in Model)
                                {

                                    if (category != d.Category)
                                    {
                                        <tr>
                                            <td class="aloneHsnTd" colspan="6"><strong>@d.Category</strong></td>
                                        </tr>
                                    }
                                    category = d.Category;


                                    <tr>
                                        <td>@d.SWserviceId</td>
                                        <td>@d.ServiceType</td>
                                        <td>@d.Rate</td>
                                        <td>@d.MinOrder</td>
                                        <td>@d.MaxOrder</td>
                                        <td class="hidden-xs hidden-sm service-description">@d.Description</td>
                                    <tr class="visible-xs visible-sm service-description">
                                        <td colspan="5">@d.Description</td>
                                    </tr>
                                    </tr>

                                }




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="well ">
                            <div style="color: rgb(51, 51, 51); text-align: center;"><br></div>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>
</div>
