@model IEnumerable<SocialLacasa.Models.Tickets>
@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @{
        Html.RenderPartial("_UserTopMenu");
    }
</div>
<div>
    @{
        Html.RenderPartial("_sidenav");
    }
</div>

<div class="content-wrapper">
    <input type="hidden" value='@Session["UserId"]' id="hdnUserId" />

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2 centered">
                <div style="height:12px;"></div>
                <div class="well tableBox">
                    <form method="post" action="/" id="ticketsend">
                        <div class="alert alert-dismissible alert-danger ticket-danger " style="display: none">
                            <button type="button" class="close">&times;</button>
                            <div></div>
                        </div>
                        <div class="form-group">
                            <label for="subject" class="control-label">Subject</label>
                            <input type="text" class="form-control" id="subject" name="TicketForm[subject]">
                        </div>
                        <div class="form-group">
                            <label for="message" class="control-label">Message</label>
                            <textarea class="form-control" rows="7" id="message" name="TicketForm[message]"></textarea>
                        </div>
                        <input type="hidden" name="_csrf" value="LA4gpygu774e1yeomt1rRdoARqtDph7ab5Vf1sV7rdhjZGjUSkCA-0SNStv2jx4ToDAf8xnXK6Ar4grjpgvMrA==">
                        <button type="submit" class="btn btn-primary" onclick="submitTicket();">Submit ticket</button>
                    </form>
                </div>
                <div class="well tableBox">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Subject</th>
                                <th>Status</th>
                                <th class="nowrap">Last update</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var d in Model)
                            {
                            <tr>
                                <td>@d.TicketId</td>
                                <td><a href='@string.Format("/user/TicketDetails?TicketId={0}",@d.TicketId)'>@d.Subject</a></td>
                                <td>@d.Status</td>
                                <td><span class="nowrap">@d.Date</span></td>
                            </tr>
                                    }

                            </tbody>

                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{

    <script src="@Url.Content("~/Custom/JS/Ticket.js")"></script>
}
